body{
    background-color:#66D0FF;
    width: 100%;
  }
  .cloud{ 
    position: relative;
     margin-top:150px;
     margin-left: 150px;
     width:350px;
     height:120px;
     background:#ECEFF1;
     box-shadow:-10px -15px rgba(0,0,0,0.2);
     border-radius:100px;
     transform-origin: top left;
     transform: scale(0.5) scaleY(-1) scaleX(-1); /* Spiegelung horizontal, ohne die Größe zu ändern */
  }
  .cloud::after, .cloud::before{
      content:"";
      display:inline-block;
      background:inherit;
      border-radius:inherit;
  }
  .cloud::after{
      width:100px;
      height:100px;
      top:-125px;
      left:-120px;
  }
  .cloud::before{
      width:180px;
      height:180px;
      top: -60px;
      left:140px;
  }
.cloud.one{
    margin-top:15rem;
    margin-left: 15rem;
    /*Animation*/
    -webkit-border-radius: 200px;
    animation: cloud 20s linear infinite;
    -webkit-animation: cloud 20s linear infinite;
}
.cloud.two{
    margin-top:-10rem;
    margin-left: 40rem;
    /*Animation*/
    -webkit-border-radius: 200px;
    animation: cloud 20s linear infinite;
    -webkit-animation: cloud 20s linear infinite;

}
.cloud.three{
    margin-top:1em;
    margin-left: 80em;
         /*Animation*/
         -webkit-border-radius: 200px;
         animation: cloud 22s linear infinite;
         -webkit-animation: cloud 22s linear infinite;
}
@keyframes cloud {
	0% { right: -100%; }
	100% { right: 70%; }
}
.character {
    position: fixed;
    top: 70%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    transform-origin: top left; /* Setzen Sie den Ursprung der Transformation auf die obere linke Ecke */
    transform: scale(0.7); /* Ändern Sie den Skalierungsfaktor nach Bedarf */
  }
.cartman.head{
    width: 10em;
    height: 10em;
    margin-bottom: -3em;
    margin-left: 1em;
    background: #fddebf;
    border-radius: 100%;
    position: relative;
    z-index: 2;
}
.cartman.body{
    position: relative;
    width: 13em;
    height: 9em;
    right: 0.2em;
    bottom: 0.3em;
    background: #e12740;
    border-radius: 100%;
    z-index: 1;
}
.cartman.hands::after, .cartman.hands::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cartman.hands::before{
    position: relative;
    width: 3em;
    height: 3em;
    top: -90px;
    left: -1em;
    background: #f7d919;
    border-radius: 100%;
    z-index: 2;
}
.cartman.hands::after{
    position: relative;
    width: 3em;
    height: 3em;
    top: -5.5em;
    left: 8em;
    background: #f7d919;
    border-radius: 100%;
    z-index: 1;
}
.cartman.thumb{
    opacity: 0; 
    position: relative;
    width: 1em;
    height: 2em;
    top: -9.5em;
    left: 13em;
    rotate: 35deg;
    background: #f7d919;
    border-top-left-radius:40%;
    border-top-right-radius:40%;
    z-index: 1;
}
.cartman.trousers{
    width: 10em;
    height: 3em;
    border-radius: 40%;
    background: olive;
    margin-top: -7.8em;
    margin-left: 1.2em;
}
.cartman.shoe::after, .cartman.shoe::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cartman.cartman.shoe::before{
    width: 5em;
    height: 1.2em;
    border-radius: 30%;
    background: black;
    bottom: 1em;
    left: 1.2em;
    rotate: 5deg;
}
.cartman.cartman.shoe::after{
    width: 5em;
    height: 1.2em;
    border-radius: 30%;
    background: black;
    bottom: 1em;
    left: 1.2em;
    rotate: -5deg;
}
.cartman.hat::after, .cartman.hat::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cartman.hat::before{
    width: 10em;
    height: 5em;
    margin-bottom: -5em;
    margin-left: 1em;
    background: #06b3c0;
    border-top-left-radius: 105em;
    border-top-right-radius: 105em;
    position: relative;
    z-index: 3;
}
.cartman.hat::after{
    width: 3em;
    height: 3em;
    margin-bottom: -1.5em;
    margin-left: -6.5em;
    background: #f7d919;
    border-radius: 50%;
    position: relative;
    z-index: 3;
}
.street{
    height: 7em;
    width: 100%;
    background-color: #AD8E70;
    position: fixed;
    bottom: 0%;
}
.tree.one {
    position: absolute;
    background-color:#003049;
    width:8px;
    height: 40px;
    bottom:12%;
    left: 145px;
    z-index: 0;
    transform: scale(1.3);
}
.tree.two{
    position: absolute;
    background-color:#003049;
    width:8px;
    height: 40px;
    bottom:12%;
    left: 70%;
    z-index: 0;
    transform: scale(1.1);
}
.tree.three{
    position: absolute;
    background-color:#003049;
    width:8px;
    height: 40px;
    bottom:12%;
    left: 100%;
    z-index: 0;
    transform: scale(1.5);
}
  .tree:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 120px solid #003049;
    top:-120px;
    left:-70px;
  }
  .tree:after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 95px solid #386641;
    top:-103px;
    left:-55px;
  }
  .tree1 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 120px solid #003049;
    top:-160px;
    left:-70px;
    z-index:1;
  }
  .tree1:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 95px solid #6a994e;
    top:17px;
    left:-60px;
  }
  .tree2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 110px solid #003049;
    top:-200px;
    left:-60px;
    z-index:2;
  }
  .tree2:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 85px solid #386641;
    top:17px;
    left:-50px;
  }
